/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460);
    font-family: 'Cormorant Garamond', serif;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1 {
    color: #e94560;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-fluid {
    max-width: 400px; /* Установите нужную ширину */
    height: auto; /* Чтобы сохранить пропорции */
}
/* Навигация */
.navbar {
    background-color: #343a40;
    padding: 15px;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #cfd8dc;
}

/* Карточки */
.card {
    margin: 20px auto;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #e94560;
}

.card-text {
    font-size: 1.1em;
    color: #f0f0f0;
}

/* Кнопки */
.btn-custom {
    background-color: #e94560;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.btn-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    transition: all 0.5s;
    z-index: -1;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #f76c6c;
}

.btn-custom:hover::before {
    transform: scale(1.1);
}


.error-message {
    color: #dc3545;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #dc3545, 0 0 10px #dc3545, 0 0 15px #dc3545;
    }
    to {
        text-shadow: 0 0 10px #dc3545, 0 0 20px #dc3545, 0 0 30px #dc3545;
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .card {
        width: 90%;
    }
}
