<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Веб-программирование</h1>
    <p>Геометрия</p>
        <ul>
            <li><a href="{% url 'rectangle_area' width=5 height=10 %}">Площадь прямоугольника 5x10</a></li>
            <li><a href="{% url 'square_area' width=4 %}">Площадь квадрата 4x4</a></li>
            <li><a href="{% url 'circle_area' radius=7 %}">Площадь круга с радиусом 7</a></li>
        </ul> 
    
</body>
</html>
