{% extends "zodiacWithDB/base.html" %}
{% load static %}

{% block title %}{{ sign.name }}{% endblock %}

{% block content %}
    <h1 class="text-center">{{ sign.name }}</h1>
    <div class="text-center">
        <img src="{{ sign.image.url }}" class="img-fluid" alt="{{ sign.name }}">
    </div>
    <p class="mt-3">{{ sign.description }}</p>
    <a href="{% url 'zodiacWithDB:zodiac_list' %}" class="btn btn-secondary">Назад к списку</a>

    {% if error_message %}
        <div class="alert alert-danger mt-4">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}
